extends ../base/base

block variables
    - var title = "Homepage"

block content
    .part1
        include ../../components/head/head.pug
        include ../../components/menu/menu.pug
        .content_part1
            .text_part1
                .title1 New Automation Tool for Your Home
                .title2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tristique vulputate ultrices ut mauris tellus at. Posuere sollicitudin odio tellus elit.
                button.see See Our Project
            .picture_part1
                img(src=require('../../images/page_index/illustration.png'))
    .part2
        .container1_2
            .container_left
                .text_part2 What we do to help our client grow in digital era,
                .card2.card
                    .picture_card
                        img(src=require('../../images/page_index/1.png'))
                    .title_card Make Your business To Be Better Famous In Internet
                    .text_card Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    a.hr_card(href="#") Learn more
                        i.fas.fa-arrow-right
            .container_right
                .card1.card
                    .picture_card
                        img(src=require('../../images/page_index/3.png'))
                    .title_card Bring Technology To Your Comfrotable Home
                    .text_card Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a.hr_card(href="#") Learn more
                        i.fas.fa-arrow-right
                .card3.card
                    .picture_card
                        img(src=require('../../images/page_index/2.png'))
                    .title_card Build Your Digital Product hat Suitable For Your Need
                    .text_card Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a.hr_card(href="#") Learn more
                        i.fas.fa-arrow-right
        .container1_3
            .title_left Our Finished Project
            .title_right Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .container1_4
            .pic_part2
                img(src=require('../../images/page_index/pic_part2_back.png'))
                .effect-to-bottom
                    img(src=require('../../images/page_index/pic_part2_front.png'))
        .container1_5
            .pic2_part2
                img(src=require('../../images/page_index/леваякартинка.png'))
                .effect-to-right
                    h Sparklite App
                    p Marketplace
            .pic3_part2
                img(src=require('../../images/page_index/праваякартинка.png'))
                .effect-to-right
                    h Car-Rapetition App
                    p Board
    .part3
        .conteiner1_6
            .title_left_part3 Our Beloved Client
            .title_right_part3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            table.list_logo
                tbody
                    tr
                        td logo client 1
                        td logo client 2
                        td logo client 3
                        td logo client 4
                    tr
                        td logo client 5
                        td logo client 6
                        td logo client 7
                        td
                            a(href='#') More Client
        include ../../components/footer/footer.pug
